/*!CK:211674582!*//*1409647494,*/

._4x1w{display:inline-block;position:relative}._4x1w img{left:0;position:absolute;top:0}
._5dhi .img{outline:none}

#bootloader_gfGCW { height: 42px; }
.bootloader_gfGCW { display:block !important; }